.g-btn.u-large {
    font-size: 15px
}
.g-btn.u-x-large {
    font-size: 17px
}
.g-btn.u-small {
    font-size: 11px
}
.g-btn.radius-sm {
    border-radius: 5px
}
.g-btn.radius-md {
    border-radius: 15px
}
.g-btn.radius-lg {
    border-radius: 30px
}
.g-btn.disabled {
    opacity: .6;
    pointer-events: none;
    border: 0 !important
}
.g-btn {
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 13px;
    padding: .7rem 1.2rem;
    outline: 0
}
.g-btn--purple {
    background: -webkit-gradient(linear, left top, left bottom, from(#C644FC), to(#5856D6));
    background: linear-gradient(#C644FC, #5856D6)
}
.g-btn--purple.has-border {
    border-color: #514fce
}
.g-btn--purple:hover {
    background: #824FE4
}
